project1/simulation/noise-simulation-proj/resources/node_red_flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "239785e2a491307b",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 220,
        "wires": []
    },
    {
        "id": "4f697994661e1c39",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "noise-report",
        "qos": "0",
        "datatype": "json",
        "broker": "f24296f52a83f308",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 220,
        "wires": [
            [
                "239785e2a491307b",
                "6f73b0e181482977"
            ]
        ]
    },
    {
        "id": "5cc06dac34e3e738",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "noise/test",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f24296f52a83f308",
        "x": 320,
        "y": 400,
        "wires": []
    },
    {
        "id": "5b1914894d86ad62",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 400,
        "wires": [
            [
                "5cc06dac34e3e738"
            ]
        ]
    },
    {
        "id": "a8455f3f2713cf46",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "url": "/noise",
        "method": "post",
        "upload": true,
        "swaggerDoc": "",
        "x": 110,
        "y": 540,
        "wires": [
            [
                "8963bd77e3b18925",
                "6209440da3341137",
                "a49c7b5c5e493f0f"
            ]
        ]
    },
    {
        "id": "8963bd77e3b18925",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 540,
        "wires": []
    },
    {
        "id": "6f73b0e181482977",
        "type": "file",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "filename": "./contiki-ng-emulation.json",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 740,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "6209440da3341137",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 320,
        "y": 640,
        "wires": []
    },
    {
        "id": "a49c7b5c5e493f0f",
        "type": "file",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "filename": "./pyton-spark-simulation.json",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 750,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "f24296f52a83f308",
        "type": "mqtt-broker",
        "name": "",
        "broker": "MQTTbroker",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    }
]